<nz-button-group>
  <a nz-button nzType="primary" href="/patients/create"> Créer un patient </a>
</nz-button-group>

<div>
  <nz-table #basicTable [nzData]="patients" [nzLoading]="loading">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.firstname }}</td>
        <td>{{ data.lastname }}</td>
        <td>
          <a routerLink="/patients/show/{{ data.id }}">Voir</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a routerLink="/patients/edit/{{ data.id }}">Editer</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="remove(data.id)">Supprimer</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
