<div>
  <ul nz-list nzBordered nzSize="large" [nzLoading]="loading">
    <nz-list-header>Header</nz-list-header>
    <li nz-list-item *ngFor="let patient of patients" nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a routerLink="/clients/edit/{{ patient.id }}">edit</a>
        </nz-list-item-action>
        <nz-list-item-action>
          <a (click)="remove(patient.id)">remove</a>
        </nz-list-item-action>
      </ul>
      {{ patient.firstname }}
    </li>
    <nz-list-footer>Footer</nz-list-footer>
  </ul>
</div>
